{{#if url}}
<form action="/editar/{{url._id}}" method="post">
    <!-- Seguridad csurf -->
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input type="text" placeholder="ingresar url" name="origin" class="form-control my-2" value="{{url.origin}}">
    <input type="submit" value="Editar URL" class="btn btn-warning w-100 mb-2">
</form>
    {{else}}
    <form action="/" method="post">
    <!-- Seguridad csurf -->
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input type="text" placeholder="ingresar url" name="origin" class="form-control my-2">
        <input type="submit" value="Agregar URL" class="btn btn-primary w-100 mb-2">
    </form>
{{/if}}